{% extends 'base.html.twig' %}

{% block title %}Bienvenue au showroom
{% endblock %}

{# Page affichant l'ensemble des voitures du showroom #}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="slide" id="show">
		<h1 style="font-size: 70pt">Showroom</h1>
	</div>

	<div class="slide" id="recent">
		<div class="container">
			<h2 style="text-align:center">- Bonne visite sur notre showroom online ! -
			</h2>


			<div
				class="row">

				{# j'affiche toutes les voitures du showroom #}
				{% for voiture in voitures %}
					<div class="col-md-6">
						<div class="cartes card bg-light mb-3">


							{% set url = path('voitures_show', {'slug':voiture.slug}) %}
							<div class="vignette">
								<img class=" starsimg" src="../uploads/{{voiture.image}}" alt="image de l'annonce {{voiture.marque}} {{voiture.modele}}">
							</div>
						</a>
						<div class="card-body text-center">
							{{voiture.marque}}
							<br><strong>
								<i>{{voiture.modele}}</i>
							</strong>
							<br>Kilométrage :
							{{voiture.km}}
							KM
							<br><div class="prix">{{voiture.prix}}
								€</div>
							<br>
							<a href="{{url}}" id="enplus" class="btn btn-dark">
								En savoir plus
							</a>
						</div>


					</div>
				</div>
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}
