{% extends 'base.html.twig' %}

{% block title %} Informations de {{voiture.marque}} {{voiture.modele}}{% endblock %}

{% block body %}
    <div class="annonce-title" style="background-image: url({{voiture.image}})" id="pres">
        <h2>Informations sur le véhicule:
       <br>- {{voiture.marque}} - <i>{{voiture.modele}}</i> -</h2>

    </div>

    <div class="slide">
        <div class="container">
        <div class="row">
            <div class="col-5">
            <h2>Galerie</h2>
            {# <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                         {% for image in voiture.images %}
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}"></button>
                        {% endfor %} 
                           
                        </div>
                        <div class="carousel-inner">
                            {% for image in voiture.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{image.url}}" class="d-block w-100" alt="image de {{voiture.marque}}">
                                    <div class="carousel-caption d-none d-md-block">
                                            <h5>{{voiture.marque}}</h5>
                                            <p>{{image.caption}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                           
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>#}
            </div> 
            <div class="card col-7" id="ficheInfo">
                <h3>Fiche info du véhicule</h3>
                <p><u>Marque du véhicule :</u> {{voiture.marque}}</p> 
                <p><u>Modèle du véhicule :</u> {{voiture.modele}}</p> 
                <p><u>Kilométrage du véhicule :</u> {{voiture.km}} kilomètres</p> 
                <p><u>Prix de vente :</u> {{voiture.prix}} €</p> 
                <p><u>Nombre de propriétaire(s) du véhicule :</u> {{voiture.nbProprio}} propriétaire(s)</p> 
                <p><u>Cylindrée :</u> {{voiture.cylindree}} cylindres</p> 
                <p><u>Puissance :</u> {{voiture.puissance}} chevaux</p> 
                <p><u>Carburant :</u> {{voiture.carburant}}</p> 
                <p><u>Année de mise en circulation :</u> {{voiture.annee}}<br></p> 
                <p><u>Transmission :</u> Transmission {{voiture.transmission}}</p> 
                <p><u>Description :</u><br>{{voiture.description}}</p> 
                <p><u>Options :</u><br>
                    <li>{{voiture.options}}</li>
                    <li>{{voiture.options}}</li>
                    <li>{{voiture.options}}</li>
                </p> 
            </div>
            </div>
        </div>
       
    </div>
{% endblock %}